

////////////////////////////

.header-inline{
display: inline;

}
li { 
display:inline;
}

.header-right-logo{
	display: inline;
	position:relative;
	float:left;	
}
.header-content{
	position:relative;
	margin: 0 auto;
	width:1000px;
	height: 40px;

}
.header-menu{
	position:relative;
	left:15px;
}
#header-right-box{
	position:relative;
	bottom:-23px;
	float:right;	
}.header-search-box{
	border: 1px solid #d2d2d2;
	border-radius: 6px;
	height:20px;
}
#header-search-button{
	position:relative;
	bottom:-2px;
	display: inline;
	float:right;
	padding-right:5px;
	padding-left:5px;
	background: white url(img/divider.png) left center no-repeat;
	
}
#header-search-input{
	border:none;
	width:40px;
}
.header-menu-element{
	text-transform: uppercase;
	float: left;
	width: auto;
	background: white url(img/divider.png) right center no-repeat;
	padding: 0 10px 0 10px;
	margin-top: 48px;
	
}
.header-login-language{
	position:relative;
	bottom:15px;
	

}
#header-login{
	text-decoration: none;
	padding-left:13px;
	padding-right:5px;
	background: white url(img/divider.png) left center no-repeat;
	font-family: Helvetica;
	font-size: 15px;
}
#header-language{
	border:none;
	text-transform: uppercase;
}



/************** slides***************/

.section-1{
	position: relative;
	bottom: -50px;
	width:100%;
	color: white;
    background-image: url("img/slide-bg-complexity.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height:600px;

}
.slides-content{
	position:relative;
	margin: 0 auto;
	width:1000px;
}
.slides-head{
	float:left;
}
.slide-bar{
	float:left;
}
.slides-panted-boxes{
	position:relative;
	float:left;
	right:39px;
}

.pink{
	background-color: rgba(251, 66, 158, 0.9);
	padding-left:15px;
	font-size:20px;
	width:250px;
	height:200px;
	float:left;
	display:inline;
	border-radius:10px;
}
.green{
	background-color: rgba(106, 192, 50, 0.9);
		font-size:20px;
		padding-left:15px;
	width:250px;
	height:200px;
	float:left;
	display:inline;
	position:relative;
	border-radius:10px;
	left:69px;


}
.orange{
background-color: rgba(255, 117, 24, 0.9);
	font-size:20px;
	padding-left:15px;
	width:250px;
	height:200px;
	display:inline;
	border-radius:10px;
	position:relative;
	float:right;
	left:150px;

}
.slide-link{
	color:white;
}
  

/*
.h_ul{
	float:left;
	display:inline;
	position:relative;
	left:180px;
	top:23px;
} 
.h_img {
	float:left;
	display:inline;
	position:relative;
	left:150px;
	} 
.h_lang_log{
	float:left;
	display:inline;
	position: relative;
	display:inline-block;
	left:250px;
    width: 160px;
    height: 20px;
    top: 3px;
    
}



#h_select{ 
float:left;
	display:inline;
   position: relative;
    top:auto;  
}
#h_login{
	float:left;
	display:inline;
	position: relative;
    top: auto;
 	left:5px;
}
.h_search{
	float:left;
	display:inline;
    position: relative;
    left:110px;
    top: 40px;
    width: 144px;
    height: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;

    
}
#h_input{
	float:left;
	display:inline;
	position:relative
	display:inline-block;
	width: 120px;

	border-right: none;
	border-style: none;

}
#h_button{
	float:left;
	display:inline;
	position: relative;
	border-left: none;
	height:inherit;
	background-color: white;
}


.written {
	position: relative;
    left : 150px;
   	height:300px;
   	width:400px;
    color : white;

  
}
#sec_1_head{
	position:relative;
	float:left;
	}
.section_1 {

	position:relative;
	height: 600px;
    background-image: url("img/slide-bg-complexity.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  
}
.pink{
	position: relative;
	width: 200px;
	height: 200px;
	background-color: rgba(251, 66, 158, 0.9);
}
.green{
	position:relative ;
	width: 200px;
	height: 200px;
	left:300px;
	top:-215px;
	background-color: rgba(106, 192, 50, 0.9);
}
.orange{
	position: relative;
	width: 200px;
	height: 200px;
	left:600px;
	top:-430px;
	background-color: rgba(255, 117, 24, 0.9);
}
.sec_1_panted_box{
	position:relative;
	left:150px;
	height: 300px;
}*/
/**************section 2 start hear****************/
/*
.section_2{
	
	background: radial-gradient(#59BEDB 10%, #3399CC 80%);
	height:300px;
}
.Section_2_content{
	position:relative;
	left:150px;
}
.Section_2_content  h2{
	position:relative;
	left:500px;
}
.sec_2_do{
	position:relative;
	float:left;
	width:150px;
	height:150px;
}
#sec_2_solutions{
	float:left;
	position:relative;
	left:-500px;
	top:200px;
}
*/




@media  (max-width: 500px) {
    body {
        background-color:lightblue;
    }
    .header-inline{
	display: inline;
	float:left;	
	}
	#header-left-box{
		position:relative;
		left:80px;
	}
	.header-right-logo{
		display: none;
	}
	.mobile-center-logo{
		display: inline-block;
		overflow: hidden;
	}
	.header-content{
		position:relative;
		width:90%;
		height: 40px;

	}
	.header-menu{
		position:relative;
		bottom:-28px;
		left:30px;
	}
	#header-right-box{
		position:relative;
		bottom:-10px;
		left:60px;	
	}
	#header-search-button{
		position:relative;
		bottom:-3px;
		display: inline;
		right:25px;
	}
}
