a{
	text-decoration:none;
}
body{
	margin:0;
}
li { 
	display:inline;
}

////////////////////////////

.mobile-menu{
	display:none;
}
.mobile-navigation{
	display : none;
}
.mobile-center-logo{
	display : none;
}
.mobile-search{
	display:none;
}
.header-inline{
display: inline;
}
.header-right-logo{
	display: inline;
	position:relative;
	float:left;	
}
.header-content{
	position:relative;
	margin: 0 auto;
	width:940px;
	height: 40px;

}
.header-menu{
	position:relative;
	left:25px;
}
.header-menu > ul > li >  a{
	font-family:sans-serif;
	color:black;
	font-size: 14px;
}
#header-right-box{
	position:relative;
	bottom:-23px;
	float:right;	
}
.header-search-box{
	border: 1px solid #d2d2d2;
	border-radius: 6px;
	height:20px;

}
#header-search-button{
	position:relative;
	bottom:-1px;
	display: inline;
	float:right;
	padding-right:5px;
	padding-left:5px;
	background: white url(img/divider.png) left center no-repeat;
	
}
#header-search-input{
	border:none;
	width:150px;
	text-align:center;
		border: none;
		background: none;

}
.header-menu-element{
	text-transform: uppercase;
	float: left;
	width: auto;
	background: white url(img/divider.png) right center no-repeat;
	padding: 0 10px 0 10px;
	margin-top: 48px;
	
}
.header-menu > ul > li > a:hover{
	color: #4db2ff;
	cursor: pointer;
}
.header-menu-element-nobackground {
    text-transform: uppercase;
    float: left;
    width: auto;
    padding: 0 10px 0 10px;
    margin-top: 48px;
}
.header-login-language{
	position:relative;
	bottom:15px;
	

}
#header-login{
	text-decoration: none;
	padding-left:13px;
	padding-right:5px;
	background: white url(img/divider.png) left center no-repeat;
	font-family: Helvetica;
	font-size: 15px;
	color: black
}
#header-login:hover{
	color: #4db2ff;
	cursor: pointer;
}
#header-language{
	border:none;
	text-transform: uppercase;
}



/************** slides***************/

.section-1{
	margin:0;
	position: relative;
	bottom: -50px;
	width:100%;
	color: white;
    background-image: url("img/slide-bg-complexity.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height:640px;

}
h1#slides-head {
    font-size: 35px;
}
p#slide-par {
    font-size: 25px;
}
.slides-content{
	position: relative;
    margin: 0 auto;
    /* float: left; */
    width: 940px;
}
.slides-head{
	float:left;
}
.slide-bar{
	float:left;
}
.slide-button{
	background: url(img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	height: 35px;
	width: 150px;
	padding: 10px;
	border: none;
	text-align: left;
	border-radius: 6px;
	color: white;
	box-shadow: 0 1px 3px 0 grey;
	margin: 30px 0 20px 0;
}



.slide-button:hover{
	cursor: pointer;
}
.bullets {
	position:relative;
	right:40px;
}
.bullets > li >a{
	float:left;
	display:inline;
	text-decoration:none;
	margin-top:-10px;
	margin-right:10px;
	text-align:center;
	width: 15px;
	height: 20px;
	background-color: #e0e0e0;
	border-radius: 2px;
	box-shadow: 0 1px 3px 0 grey;

}
.bullets > li :hover{
    background: #3498db;
    box-shadow: 0px 1px 3px #666666;
    color: white;
}
.bullet-1 >a { 
    background-color: #2e95ca;

}


.slides-panted-boxes{
	position: relative;
    float: left;
    margin: auto;
}
ul.slides-boxes {
    height: 100px;
    padding: 0;
}
.slides-boxes > li{
	    cursor: pointer;
    padding: 10px 13px;
    /* margin-right: 20px; */
    /* padding-left: 15px; */
    font-size: 20px;
    width: 274px;
    height: 200px;
    /* float: left; */
    display: inline;
    border-radius: 10px;
}
.slides-boxes > li >a {
	text-decoration:none;
	color:white;
	size:20px;
	display:block;
	float:left;
	width: inherit;
}

.slides-boxes :hover{
  opacity: 0.99;
}
.pink{
	background-color: rgba(251, 66, 158, 0.9);
    opacity: 0.8;
    float: left;
    margin-right: 20px;
}
.green{
	    background-color: rgba(106, 192, 50, 0.9);
    opacity: 0.8;
    position: relative;
    /* left: 69px; */
    float: left;
    margin: auto;
    margin-right: 20px;
}
.orange{
    background-color: rgba(255, 117, 24, 0.9);
    opacity: 0.8;
    position: relative;
    float: right;
    /* left: 150px; */

}
a.slide-link {
    position: absolute;
    bottom: 7px;
}
.slide-link{
	color:white;
}
  
/*************************solutions****************/
.solutions{
	background: radial-gradient(#59BEDB 10%, #3399CC 80%);
	padding-top: 20px;
	background-size: cover;
    box-shadow: 0 1px 10px 0 black;
   
    padding-bottom: 30px;
}

.solutions-content{
	padding-top: 50px;
    width: 940px;
    margin: 0 auto;
    color: white;
	
}
.solutions-head-content{
	text-align: center;
	font-size: 2.2em;
}
ul#solutions-list-content {
    height: 100px;
    padding: 0;
}
.solutions-list-container{
	padding-top:20px;
	width:inherit;
	height:110px;
}
.solutions-list-content{
	width:inherit;
}
.do-solution{
	width:16.6%;
	float:left;
	display:inline;
	margin:auto;
	text-align:center;
	height:100px;
}
.do-solution:hover{
	cursor:pointer;
	
}


.solution-1-background{
  background: url(./img/solution_icon_smart-money.png) no-repeat center center;
    height:60px;
}
.solution-1:hover .solution-1-background{
  height: 60px;
  background: url(./img/solution_icon_smart-money_hover.png) no-repeat center center;
}
.solution-2-background{
  height: 60px;
  background: url(./img/solution_icon_biz-analitics.png) no-repeat center center;
}
.solution-2:hover .solution-2-background{
  height: 60px;
  background: url(./img/solution_icon_biz-analitics_hover.png) no-repeat center center;
}
.solution-3-background{
  height: 60px;
  background: url(./img/solution_icon_optimize-efficnt.png) no-repeat center center;
  margin-right: -1.5em;
}
.solution-3:hover .solution-3-background {
  height: 60px;
  background: url(./img/solution_icon_optimize-efficnt_hover.png) no-repeat center center;
   margin-right: -1.5em;
}
.solution-4-background{
  height: 60px;
  background: url(./img/solution_icon_biz-transform.png) no-repeat center center;
}
.solution-4:hover .solution-4-background {
  height: 60px;
  background: url(./img/solution_icon_biz-transform_hover.png) no-repeat center center;
}
.solution-5-background{
  height: 60px;
  background: url(./img/solution_icon_personal.png) no-repeat center center;
}
.solution-5:hover .solution-5-background{
  height: 60px;
  background: url(./img/solution_icon_personal_hover.png) no-repeat center center;
}
.solution-6-background{
  height: 60px;
  background: url(./img/solution_icon_diti-cx.png) no-repeat center center;
}
.solution-6:hover .solution-6-background{
  height: 60px;
  background: url(./img/solution_icon_diti-cx_hover.png) no-repeat center center;
}
.all-solutions-container{
	margin-top: 50px;
	text-align: center;
	width:inherit;
	height: 50px;

}

.all-solutions{
	background: url(img/btnArrow.png) right 10px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
	text-transform: uppercase;
	text-decoration:none;
	font-size: 20px;
	margin-top:20px;
	
	padding: 10px;
	padding-right:25px;
	padding-left:25px;
	border: none;
	text-align: left;
	border-radius: 6px;
	color: white;
	box-shadow: 0 1px 3px 0 grey;
	margin: 0;
}

/****************events***************/
.events{
	background-image: url("./img/news-and-events-bg.jpg") ;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height:450px;
	padding-top: 1px;
	margin: 0;
	box-shadow: 0 5px 3px 0 rgba(0,0,0,0.15) inset;
}

.events-content{
    width: 940px;
    margin: 0 auto;
    height: 95%;
    color: white;
}
.events-head{
	text-transform: uppercase;
	margin:0  auto;
	font-size: 15px;
	width:100%;
	text-align: center;
}
.events-head > h1{
font-weight:100;
}
.events-list-container{
	padding-top:20px;
	width:100%;
	height:auto;
	margin: 0;
}
.events-list-content{
	width:inherit;
	height:250px;
	margin: 0 auto;
}
ul#events-list-content {
    height: 100px;
    padding: 0;
    margin: auto;
}
.do-event{
	width: 31.207%;
    height: 200px;
    float: left;
    display: inline;
    text-align: center;
    margin-right: 30px;
    margin-top: 15px;
}
li#do-event-3 {
    margin-right: 0;
}
.do-event > div > h1{
	text-transform: uppercase;
	float:left;
	width:100%;
	margin-top:0px;
	margin-bottom:0px;
	text-align:left;
	font-weight:100;
}

.do-event > div {
	height: 100%;
}
.event-explane{
	width:58%;
	float:right;
	margin:9px;
	color:black;
}
.hover-event{
	width:100%;
	background-color:rgba(220,220,220,0.6);
	position:relative;
	float:left;
	border-radius: 2px;
	
}
.hover-event:hover{
	cursor:pointer;
	opacity:0.8;

}
.date{
	width:70px;
	height: 100px;
	float:left;
	color:white;
	margin:10px;
	background-color:#3399cc;

}
.day{
	width:70px;
	height:55px;
	padding-top:5px;
	text-align:center;
	 border-radius: 5px;
    border-bottom: 1px dashed #FFFFFF;
	font-size:40px;
}
.month{
	width:68px;
	height:45px;
	font-size:25px;
	text-align:center;
}

.all-news{
	width:150px;
	height:20px;
	margin:10px;	
	color:white;
	font-size:20px;
	 float:left;
	
	
}
.event-1-all-news{
background:url("./img/eventListIconNews_hover.png") no-repeat left ; 
 float:left;
  padding-left:27px;
  
}
.event-2-all-news{
background:url("./img/eventListIconPress_hover.png") no-repeat left ; 
 float:left;
  padding-left:27px;
  
}

.event-3-all-news{
background:url("./img/eventListIconEvents_hover.png") no-repeat left ; 
 float:left;
 padding-left:27px;
}

/******************success stores************************/
.success-stories{
	height:550px;
	background-color:#ececec;
	margin:0px;
}
.success-content{
	width:1000px;
	height:inherit;
	margin:auto;
	padding-top:1px;
}
.success-head{
	text-align:center;
	text-decoration:none;
	text-transform:uppercase;
	font-size:40px;
	font-weight:100;
}
.success-elements{
	width: 100%;
	/* margin-top:40px */
}
.hidden{
	display:none;
}
.success-left-1:hover .hidden {
	display:block;
    max-height: 300px;
    margin-top: -190px;
    transition: max-height 1s ease;
}
.hidden {
    background-color: #3AA6DB;
    color: white;
    overflow: hidden;
     height: 210px;
     width:339px;
     position:absolute;
    

}
.success-left{
	width: 345px;
	height:330px;
	display:inline;
	float:left;
	margin-right: 5px;	
}
.success-center{
		/* width: 345px; */
		/* height:330px; */
		/* display:inline; */
		/* float:left; */
		/* margin-right: 5px; */
}

.person-image{
	width: 335px;
	height: 120px;
	padding-top: 10px;
	padding-right: 10px;

}
.success-left{
	width: 339px;
	display:inline;
	float:left;
	/* margin-left: 14px; */
	margin-right: 15px;
}
.success-left-1{
	width:inherit;
	height: 210px;
	background-color:white;
}
.face-text{
	margin:15px;
	float:left;
	width: 200px;
	height:100px;
	margin:10px;
}
.face-image{
	margin:10px;
	float:left;
	border-radius:5px;
}
.face-details{
	float:left;
	padding-left:10px;
	margin:0;
	height: 70px;

	/* padding-bottom: 40px; */
	}
.person-details{
	width: 320px;
	height:60px;
	margin-left: 10px;
	margin-right: 10px;
	border-top: 1px solid #DDDDDD;
}
.person-details > img{
	width: 50px;
	height: 50px;
	float:right;
	padding-top:15px;
	padding-right: 10px;
}
.success-left-2{
	width: 345px;
	height: 100px;
}
.left-hidden{
	width: 108px;
	height: 95px;
	display: inline;
	float:left;
	margin-top: 7px;
	margin-right: 7px;
}
.left-hidden  >img{
	/*display: inline-block;*/
	float:left;
	position: absolute;
	/* margin-right: 4px; */
	/* margin-right: 5px; */
}
.success-picture-2-div{
display: none;
}
.left-hidden:hover .success-picture-2-div{
	display: inline-block;
}
.center-hidden{
	margin-top: 0px;
	margin-bottom: 7px; 
}

.success-right{
	width: 230px;
	/* float:right; */
	/* height: 330px; */
}
.success-right-text{
	/* width:inherit; */
	/* height:200px; */
}
.person-details-3{
	width:inherit;
	/* height: 50px; */
	/* display:inline; */
	/* border-top: 1px solid #DDDDDD; */
}
.person-details-3 > p{
	width:60%;
	-webkit-margin-after: 0px;
}
.success-right-text-hidden{
	position: absolute;
	width: 230px;
}
.person-logo3{
	width:50px;
	height:50px;
	float:right;
	position:relative;
	bottom: 50px;
}
.person-logo3 > img{
	width:50px;
	height:50px;
	display:inline;
}
.logos3{

height: 100px;

width: 2;3:inline;

/* display: inline; */

width: 230px;

position:relative;

top:0px;
}
.logos3 > img{
	display:inline;
	float:left;
	margin:5px;
	width:45%;
}
.right-sky{
	/* float:left; */
	/* width:45%; */
	/* height:50px; */
	/* display:inline; */
}
.right-sky > img{
	/* position:absolute; */
	/* display:inline; */
}
.right-mts{
	position: absolute;
	/* width:45%; */
	/* height:50px; */
	/* display:inline; */
	/* float: right; */
	/* margin: 0; */
}
.right-mts > img{
	/* position:relative; */
	/* left: 115px; */
	/* bottom:100px; */
	/* display:inline; */
}
.success-right-up-text.person-image {
    width: inherit;
    padding-left: 10px;
}
.success-right-pictures{
	width: inherit;
}
/************************************footer***************************************/
.footer-contaner{	
	height:500px;
	background-color:#2b2b2b;
	color:white;
}
.footer-content{
	width:1000px;
	height: inherit;
	margin:auto;
}
.key-solutions{
	height: inherit;
	width: 22%;
	float: left;
	padding-right: 1%;
}
.key-solutions > p > a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}
 .key-solutions > p  >a:hover {
    color: white;
    text-decoration: underline;
}
.products{
	height: inherit;
	width: 22%;
	padding-right: 1%;
	float: left;
}
.products >p>a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}
 .products > p  >a:hover {
    color: white;
    text-decoration: underline;
}
.company{
	height: inherit;
	width: 22%;
	padding-right: 1%;
	float: left;
}
.company>p>a {
    text-decoration: none;
    color: #808080;
    font-size: 14px;
}
 .company > p  >a:hover {
    color: white;
    text-decoration: underline;
}
.latest-blog{
	height: inherit;
	width: 30%;
	float: left;
	background-color: #3d3d3d;
}
.subscribe {
    color: #3195c9;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}
.latest-blog-posts {
     margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;

}
.latest-blog-posts >h2 {
     padding: 16px 0;
    margin: 0 6px;
    font-weight: 200;
    text-transform: uppercase;
    color: #3195c9;
    font-size: 25px;
    text-align: center;
}
.latest-blog-date {
    width: 60px;
    height: 80px;
    padding: 2px;
    float: left;
    margin: 0 10px 0 5px;
}
h3.latest-blog-day {
    font-size: 26px;
    margin: -7px 0px -5px 0px;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 400;
    color: white;
}
h3.latest-blog-month {
    font-size: 26px;
    margin: -7px 0px -5px 0px;
    text-align: center;
    line-height: 2.2rem;
    font-weight: 400;
    color: white;
}
.latest-blog-text >p {
    margin: 0 0 18px 0;
    color: #808080;
}
.latest-blog-text >p:hover {
   color: white;
    text-decoration: underline;
}
input#email {
    width: 190px;
    line-height: 2.26em;
    border-radius: 2px;
    border: none;
    /* margin: 0 5px 0 5px; */
    padding-left: 8px;
    color: grey;
    outline: none;
}
#subscribe-submit {
    background: #3498db;
    border-radius: 2px;
    border: none;
    color: white;
    line-height: 2.3em;
    margin-left: -45px;
    padding: 1px 10px;
    /* position: absolute; */
    cursor: pointer;
}
.foter-icons {
    /* text-align: center; */
    padding-top: 80px;
    padding-left: 38px;
}
a.linkedin-icon {
    background: url(./img/socialMenuIcon-linkdin.png) no-repeat;
    content: "linkedin";
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right: 1px;
    padding-left: 1px;
}
a.linkedin-icon:hover {
    content: url(./img/socialMenuIcon-linkdin_hover.png);
        display: inline-block;
    width: 20px;
    height: 20px;
        padding-right: 21px;
    padding-left: 1px;
    }
a.youtube-icon {
    background: url(./img/socialMenuIcon-youtube.png) no-repeat;
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right: 1px;
    padding-left: 1px;
}
a.youtube-icon:hover {
    content: url(./img/socialMenuIcon-youtube_hover.png);
        display: inline-block;
    width: 20px;
    height: 20px;
        padding-right: 21px;

    padding-left: 1px;
    
    }
a.twitter-icon {
    background: url(./img/socialMenuIcon-twitter.png) no-repeat;
    content: "twitter";
    display: inline-block;
    width: 40px;
    height: 20px;
    padding-right: 1px;
    padding-left: 1px;
}
a.twitter-icon:hover {
    content: url(./img/socialMenuIcon-twitter_hover.png);
    display: inline-block;
    width: 20px;
    height: 20px;
        padding-right: 21px;

    padding-left: 1px;
    
    }
.footer-nav   {
    position: relative;
    bottom: -436px;
    height: 40px;
}
.p1{position: absolute;
    /* bottom: -8px; */
    /* float: left; */
    left: 1px;
    display: inline;
}
.p2{
    position: absolute;
    display: inline-block;
    left: 220px;
}
.p3{
	    position: absolute;
    display: inline;
    left: 240px;
    color: white;

}
.p3 >a {
	color:white;
}
.mobile-footer{
	display:none;
}
/*
.section_2{
	
	background: radial-gradient(#59BEDB 10%, #3399CC 80%);
	height:300px;
}
.Section_2_content{
	position:relative;
	left:150px;
}
.Section_2_content  h2{
	position:relative;
	left:500px;
}
.sec_2_do{
	position:relative;
	float:left;
	width:150px;
	height:150px;
}
#sec_2_solutions{
	float:left;
	position:relative;
	left:-500px;
	top:200px;
}
*/




@media  (max-width: 900px) {
    body {
        background-color:lightblue;
        width: 100%;
    }
    .header-content{
    	width: 100%;
    	text-align:center;

	}
    .mobile-center-logo{
		display:inline;
		text-align:center;
	}
	.mobile-center-logo > a{
		text-align:center;
	}
	.header-right-logo{
		display:none;
	}
	.header-menu{
		display: none;
	}
	input[type=checkbox] {
	    display:none;
	}
	#header-right-box{
		display:none;
	}

 	.mobile-navigation {
      display: inline;
      float:left;
        
    }
/*	label {
        display: inline;
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        text-decoration: none;
        color:white;
        background-color: white; 
        width:20px;
    }*/
	
    .main-nav-mobile {
        display: none;
        position: absolute;
        left: 0;
        top:0;
        z-index: 1;
        width: 100%;
        padding: 0;

    }

    input[type="checkbox"]:checked ~ ul {
        display: block;
        top:56px;
    }
	#mobile-search-icon {
	    background: #f1f1f1;
	    display: inline-block;
	    width: 20%;
	    height: 15%;
	    border-radius: 4px;
	    padding: 8px 6px 0 3px;
	    border: 1px solid grey;
	    float: right;
	    margin-right: 10px;
	    position: relative;
	}
	.mobile-search{
		display:block;
		position:relative;
		float:right;
	}
	.button-m{
	padding: 15px;
    margin: 10px;
    background: linear-gradient(to bottom, WhiteSmoke 0%, lightgray 100%);
    border-radius: 5px;
    border: 1px solid lightgray;
    float:right;
	}
	#search-m:checked ~.searchBar-m {
    display: block;
    }
    .inputText {
     float:left;
  }
    .mobile-menu-items,
  .searchBar-m {
    display: none;
  }
  #menu-m:checked ~.mobile-menu-items,
  #search-m:checked ~.searchBar-m {
    display: block;
  }
  .submit {
    background: url("./img/searchBtn.png") no-repeat scroll center center;
    border: none;
    cursor: pointer
  }
  #search-m {
    display: none;
  }
  .button-m {
    padding: 15px;
    margin: 10px;
    background: linear-gradient(to bottom, WhiteSmoke 0%, lightgray 100%);
    border-radius: 5px;
    border: 1px solid lightgray;
  }
/**************************************************************************************/	
	.section-1{
	margin:0;
	position: relative;
	bottom: -50px;
	color: white;
    background-image: url("img/slide-bg-complexity.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height:1000px;
	
	}
	.slides-content{
		position:relative;
		margin: 0 auto;
		width:100%;
		height: inherit;
	}
	

	.head-background{
	margin:0;
	margin-top: -38px;
	background-image: url(./img/weDoBG.png), radial-gradient(at 50% 50%, rgb(89, 190, 219) 0%, rgb(51, 153, 204) 100%);
    padding: 10px 0px 10px 10px;
    margin-bottom: 20px;
	}
		.slides-head{
		float:left;
		width:inherit;
		/* bottom: inherit; */
	}
	.slide-button{
background: url(img/btnArrow.png) right 15px center no-repeat, linear-gradient(to bottom, #2e94c8 , #1188c4);
    height: 35px;
    width: 340px;
    padding: 10px;
    border: none;
    text-align: left;
    border-radius: 6px;
    color: white;
    box-shadow: 0 1px 3px 0 grey;
    /* margin: 30px 0 20px 0; */
    margin: auto;
	}



	.slide-button:hover{
		cursor: pointer;
	}
	.bullets {
		position:relative;
		right:40px;
	}
	.bullets > li >a{
		float:left;
		display:inline;
		text-decoration:none;
		margin-top:-10px;
		margin-right:10px;
		text-align:center;
		width: 15px;
		height: 20px;
		background-color: #e0e0e0;
		border-radius: 2px;
		box-shadow: 0 1px 3px 0 grey;

	}
	.bullets > li :hover{
		background: #3498db;
		box-shadow: 0px 1px 3px #666666;
		color: white;
	}
	.bullet-1 >a { 
		background-color: #2e95ca;

	}


	.slides-panted-boxes{
		margin-top:20px;
		width:inherit;
		float:left;
		position:relative;
		left:0px;
	}
	.slides-boxes {
	width:inherit;
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
  
	}
	.slides-boxes > li{
		cursor: pointer;
		font-size:20px;
		width:inherit;
		height:200px;
		float:left;
		display:block;
		border-radius:4px;
		opacity: 0.99;
		 padding: 10px 0 ;
 		 margin-right: 20px;
   		 padding-left: 0px;
   		 margin-top:5px;

	}

	.slides-boxes > li >a {
		text-decoration:none;
		color:white;
		size:20px;
		width:inherit;
		margin:10px;
	}
	.slides-boxes :hover{
	  opacity: 0.99;
	}
	.pink{
		background-color: rgba(251, 66, 158, 0.9);
		opacity: 0.8;

	}
	.green{
		background-color: rgba(106, 192, 50, 0.9);
		opacity: 0.8;
		position:relative;
		left:0px;
	
	}
	.orange{
		background-color: rgba(255, 117, 24, 0.9);
		opacity: 0.8;
		position:relative;
		left:0px;

	}
	.slide-link{
		color:white;
	}
  /*****************************solutions************************************************/
	.solutions{
		background: radial-gradient(#59BEDB 10%, #3399CC 80%);
		padding-top: 20px;
		background-size: cover;
		box-shadow: 0 1px 10px 0 black;
		padding-bottom: 30px;
		height:auto; 
	}

	.solutions-content{
		padding-top: 50px;
		width:100%;
		margin: 0 auto;
		color:white;
		height: auto;
	}
	.solutions-head-content{
		text-align: center;
		font-size: 2.2em;
	}
	.solutions-list-container{
		padding-top:20px;
		width:inherit;
		height:280px;
	}
	#solutions-list-content{
		width:inherit;
		height: 100%;
	}

	.do-solution{
		width:30%;
		float:left;
		display:block;
		margin:auto;
		text-align:center;
		height:150px;
	}
	.do-solution > div {
		height:80%;
	}
	.do-solution:hover{
		cursor:pointer;
		
	}


	.solution-1-background{
	 
	    height:80%;
	}
	.solution-1:hover .solution-1-background{
	   height:80%;
	
	}
	.solution-2-background{
	   height:80%;
	 
	}
	.solution-2:hover .solution-2-background{
	  height:80%;

	}
	.solution-3-background{
	   height:80%;
	
	  margin-right: -1.5em;
	}
	.solution-3:hover .solution-3-background {
	   height:80%;


	}
	.solution-4-background{
	  height:80%;
	
	}
	.solution-4:hover .solution-4-background {
	   height:80%;

	}
	.solution-5-background{
	   height:80%;

	}
	.solution-5:hover .solution-5-background{
	  height:80%;

	}
	.solution-6-background{
	  height:80%;
	
	}
	.solution-6:hover .solution-6-background{
	   height:80%;
	  
	}
	.all-solutions-container{
		margin-top:40px;
		text-align: center;
		width:inherit;

	}

	.all-solutions{
		text-transform: uppercase;
		text-decoration:none;
		font-size: 15px;
		margin-top:20px;
		
		padding: 10px;
		padding-right:25px;
		padding-left:25px;
		border: none;
		text-align: left;
		border-radius: 6px;
		color: white;
		box-shadow: 0 1px 3px 0 grey;
		margin: 0;
	}
 
/*******************************events*********************************/
	.events{
	width: 100%;
  	height:800px;
	}

	.events-content{
		width:100%;
		height:100%;

	}
	.events-list-content{
		width:inherit;
		height:auto;
		display:inline-block;
	}
	.do-event{
		width:80%;
	
		float:left;
		display:inline-block;
		/* text-align:center; */
		/* margin:0px; */
	}

	.date{
		width:20%;
		max-width:80px;
	}
	.day{
		width:100%;

	}
	.month{
		width:100%;
	}
	.all-news{
		width:100%;	
	}
	/***********************************success stores*********************************/

    .success-stories{
    	height: 800px;
    }
	.success-content{
		width:100%;

	}
	
	.success-elements{
		width: 345px;
		margin: auto;
	}
	.success-right{
		display:none
	}
	.footer-contaner{
		display: none;
	}
	.mobile-footer{
		display: block;
	}
	.top-page {
    display: block;
    float: right;
    margin: -30px 23px 0px 0px;
	}
	.mob-footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
	}
	.mob-footer-list > li {
    color: #ebebeb;
    list-style: none;
    padding: 12px;
    border-bottom: 1px solid black;
        display: list-item;
	}
	.mob-footer-list > li >a{
		cursor: pointer;
	}
	footer {
    height: 193px;
    background-image: url(./img/footer-bg.png);
	}

	footer {
    padding-top: 0;
    background: linear-gradient(80deg, #222221, #313131, #222221);
    padding: 0;
    height: 334px;
    width: 100%;
    margin: 0;

	}