.heads{

	height:90px;

}

li { 

display: inline;
}


.h_ul{
	float:left;
	display:inline;
	position:relative;
	left:180px;
	top:23px;
} 
.h_img {
	float:left;
	display:inline;
	position:relative;
	left:150px;
	} 
.h_lang_log{
	float:left;
	display:inline;
	position: relative;
	display:inline-block;
	left:250px;
    width: 160px;
    height: 20px;
    top: 3px;
    
}



#h_select{ 
float:left;
	display:inline;
   position: relative;
    top:auto;  
}
#h_login{
	float:left;
	display:inline;
	position: relative;
    top: auto;
 	left:5px;
}
.h_search{
	float:left;
	display:inline;
    position: relative;
    left:110px;
    top: 40px;
    width: 144px;
    height: 20px;
	border-style: solid;
	border-width: 1px;
	border-radius: 5px;

    
}
#h_input{
	float:left;
	display:inline;
	position:relative
	display:inline-block;
	width: 120px;

	border-right: none;
	border-style: none;

}
#h_button{
	float:left;
	display:inline;
	position: relative;
	border-left: none;
	height:inherit;
	background-color: white;
}


.written {
	position: relative;
    left : 150px;
   	height:300px;
   	width:400px;
    color : white;

    /*    min-width: 40%;
    max-width: 940px;
    padding: 0px;
    margin: 0px auto;*/
}
#sec_1_head{
	position:relative;
	float:left;
	}
.section_1 {

	position:relative;
	height: 600px;
    background-image: url("img/slide-bg-complexity.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /*background-clip: border-box;
    background-origin: padding-box;
    background-size: cover;
    	padding-bottom: 50px; 
	padding-top: 60px;*/
}
.pink{
	position: relative;
	width: 200px;
	height: 200px;
	background-color: rgba(251, 66, 158, 0.9);
}
.green{
	position:relative ;
	width: 200px;
	height: 200px;
	left:300px;
	top:-215px;
	background-color: rgba(106, 192, 50, 0.9);
}
.orange{
	position: relative;
	width: 200px;
	height: 200px;
	left:600px;
	top:-430px;
	background-color: rgba(255, 117, 24, 0.9);
}
.sec_1_panted_box{
	position:relative;
	left:150px;
	height: 300px;
}
